.footer__link {
  margin: 0;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  transition: opacity .5s linear;
}

.footer__link:hover {
  opacity: 70%;
}

@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}