.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .intro {
    width: calc(100% - 296px);
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: calc(100% - 32px);
  }
}