.footer {
  max-width: 1184px;
  min-height: 18px;
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 640px) {
  .footer {
    width: calc(100% - 32px);
    flex-direction: column;
    gap: 48px;
  }
}